@import "tailwindcss";
:root {
  --colorWhite: white;
  --colorBlack: black;
  --grayColorForInput: #f0f0f0;
  --paragraph-color: #8d8d8d;
  --colorWhiteHover: #f5f5f5;
  --colorBlackHover: #272727f3;
  --colorBlackOpacity: #00000060;
  --colorBlackborder: #00000010;
  --colorBlackborder: #00000020;
  --oldPrice: #00000040;
  --dicoundColor: #ff33331a;
  --discountTextColor: #ff3333;
  --tshirtAcolor: #4f4631;
  --tshirtBcolor: #314f4a;
  --tshirtCcolor: #31344f;
  --heroBgColor: #f2f0f1;
  --productContainerColor: #f0eeed;
  --productContainerColorHover: #cccccc;
  --inputBorder: #dddddd;
  --pageNumerationColor: #00000006;
}
body {
  background-color: var(--colorBlackborder);
}
